*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    color: black;
    overflow-x: hidden;
}

.side-bar{
    height: 100vh;
    border-right: 1px solid black;
}